[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
tidypy = {path = ".",editable = true}
codecov = "*"
coverage-python-version = "*"
coveralls = "*"
nose = "*"
pbbt = "*"
pytest = "*"
requests-mock = "*"
rstyoutube = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"
twine = "*"
wheel = "*"

[packages]
