[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"e1839a8" = {path = ".", editable = true}
"nose" = "*"
"pbbt" = "*"
"pytest" = "*"
"pytest-cov" = "*"
"twine" = "*"
"wheel" = "*"

[packages]

